{% extends 'safe/safe_base.html' %}
  {% block body_block %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="navbar-brand" href="
                    {% url 'safe:index' %}">CSAFE</a></li>
                    safe</a></li>
             </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{% url 'safe:index' %}">CSAFE User:
                {{ user.username }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="
                        {% url 'safe:user_logout' %}">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="
                        {% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div>
    </nav>
      <br><br>
  <div class="container">
    <div class="jumbotron">
      <h1>Claim a safe</h1>
    </div>
        {% if safe_list %}
        These are the safe(s) you may claim
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Details</th>
                  <th scope="col">Last updated</th>
                </tr>
              </thead>
              <tbody>
              {% for safe in safe_list %}
                <tr>
                  <th scope="row"><a href="{{safe.hardware_id}}/">X</a></th>
                  <td>{{ safe }}</td>
                  <td>{{ safe.last_update }}</td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
        {% else %}
            <p>There are no safes to show here.  Have you switched your safe on and plugged it
                into the an ethernet socket with internet access?</p>
        {% endif %}
  </div>
{% endblock %}
